*.la
*.lo
*.o
*.log
*.trs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
.deps
.dirstamp
.libs
test-driver
test/tss2tcti-skeleton-call-tests
test/tss2tcti-skeleton-init-param-tests
test/tss2tcti-skeleton-struct-tests
