*.a
*.gcda
*.gcno
*.info
*.la
*.lo
*.o
*.log
*.swp
*.trs
*-coverage/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/lt*.m4
missing
.deps
.dirstamp
.libs
test-driver
src/tcti_sgx_t.*
src/tcti_sgx_u.*
test/*
!test/*.c
!test/*.h
AUTHORS
VERSION
